<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script data-ad-client="ca-pub-4808458196722819" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
